<style>
   .main-exit-popup .exit-popup-inner{
    background: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
  .main-exit-popup #exit-popup-btn button{
    background: {{ section.settings.button_color }};
    color: {{ section.settings.button_text_color }};
  }
</style>

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div id="exit-popup" class="main-exit-popup">
  <div class="exit-popup-dashboard">
    <div class="exit-popup-inner">
      <button class="close-btn modal__close-button exit-popup-close">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-x icon icon-close"
          aria-hidden="true"
          focusable="false"
          role="presentation"
        >
          <path d="M18 6 6 18M6 6l12 12"></path>
        </svg>
      </button>

      {% if section.settings.heading != blank %}
        <h2>{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.message != blank %}
        <p>
          {{ section.settings.message }}
          {% if section.settings.offercode != blank %}
            <span class="offercode">{{ section.settings.offercode }} </span>
          {% endif %}
        </p>
      {% endif %}

      <div class="main-product-data collection">
        {% for block in section.blocks %}
          {% if block.settings.product != blank %}
            {% assign product = all_products[block.settings.product] %}
            <div class="product-data">
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: 'adapt',
                image_shape: 'default',
                show_secondary_image: 'true',
                quick_add: section.settings.quick_add
              %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% if section.settings.close_button != blank %}
        <button class="exit-popup-close exit-popup-btn button button-hover-style">
          {{ section.settings.close_button }}
        </button>
      {% endif %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const exitPopup = document.getElementById('exit-popup');
    if (!exitPopup) return;

    if (localStorage.getItem('exitPopupDismissed') === 'true') {
      return;
    }

    const popupInner = exitPopup.querySelector('.exit-popup-inner');
    const closeBtns = exitPopup.querySelectorAll('.exit-popup-close');

    let popupShown = false;
    let allowExitIntent = false;

    setTimeout(() => {
      allowExitIntent = true;
    }, 1000);

    document.addEventListener('mouseleave', function (e) {
      if (allowExitIntent && !popupShown && !e.relatedTarget && e.clientY <= 0) {
        popupShown = true;
        exitPopup.style.display = 'block';
      }
    });

    function closePopup() {
      exitPopup.style.display = 'none';
      localStorage.setItem('exitPopupDismissed', 'true');
    }

    closeBtns.forEach((btn) => btn.addEventListener('click', closePopup));

    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape' && exitPopup.style.display === 'block') {
        closePopup();
      }
    });

    exitPopup.addEventListener('click', (e) => {
      if (!popupInner.contains(e.target)) closePopup();
    });
  });
</script>

{% schema %}
{
  "name": "Exit Popup",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Popup Heading",
      "default": "Wait! Don’t leave yet"
    },
    {
      "type": "textarea",
      "id": "message",
      "label": "Popup Message",
      "default": "Get 10% off your first order. Use code:"
    },
    {
      "type": "textarea",
      "id": "offercode",
      "label": "Offer Code",
      "default": "WELCOME10"
    },

    {
      "type": "text",
      "id": "close_button",
      "label": "Button Text",
      "default": "Close"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "standard",
      "label": "Quick Add",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "bulk",
          "label": "Bulk"
        }
      ]
    },
    {
      "type": "header",
      "content": "Color Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Popup Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Background",
      "default": "#645832"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Add Product",
      "limit": 10,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Exit Popup",
      "category": "Popup",
      "settings": {
        "heading": "Wait! Don’t leave yet",
        "message": "Get 10% off your first order. Use code:",
        "close_button": "Close",
        "quick_add": "standard",
        "background_color": "#ffffff",
        "text_color": "#000000",
        "button_color": "#645832",
        "button_text_color": "#ffffff"
      },
      "blocks": [
        {
          "type": "text_block",
          "settings": {
            "product": ""
          }
        },
        {
          "type": "text_block",
          "settings": {
            "product": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
