{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  
    .footer .address-data ul li span.phone-bg:hover svg path, .footer .address-data ul li span.phone-bg:hover,
    .footer .address-data ul li span.email-text:hover svg path, .footer .address-data ul li span.email-text:hover {
      color:{{section.settings.text_hover}};
      fill:{{section.settings.text_hover}};
          transition: color .5s, fill .5s;
    }
.footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
   background-color: {{ section.settings.bg_color }};
  }
   .footer .list-social__link .svg-wrapper svg path{
  fill:var(--color-footer-social_link);
}
.footer .list-social__link .svg-wrapper:hover svg path{
fill:var(--hover-color);
}
  .footer .newsletter-form__field-wrapper .field{
    background-color: {{ section.settings.inut_bg_color }};
        padding: 0;
  }

  {%- for block in section.blocks -%}
    {% if block.type == 'image' %}
      #text--{{ block.id }} {
        color:{{block.settings.text_color}};
      }
    {% endif %}
  {% endfor %}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 991px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
      or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}

    <div calss="">
      <div class="footer__content-top section-{{ section.id }}-padding">
        <div class="container">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}

          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
              
               
              
                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}

                       {%- when 'newsletter' -%}

                        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if block.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if block.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if block.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext left">{{ block.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and block.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if block.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>





                  {%- when 'text' -%}
                    <div class="footer-block__details-content footer-block__heading rte">
                      {{ block.settings.subtext }}
                    </div>

                    <div class="address-data">
                      <ul>
                        <li>
                        
                          {% if block.settings.address != blank %}
                            <span>
                             <svg class="fa-location-dot svg-inline--fa" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="location-dot" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="" width="15" height="15" style="
                              "><path fill="currentColor" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
                              {{ block.settings.address }}</span>
                          {% endif %}
                        </li>
                        <li>
                          
                          {% if block.settings.phone != blank %}
                            <span class="phone-bg"
                              >
                                <svg class="svg-inline--fa fa-phone" width="15" height="15" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"></path></svg>
                                <a href="tel:{{ block.settings.phone }}">{{ block.settings.phone }}</a></span
                            >
                          {% endif %}
                        </li>
                        <li>
                       
                          {% if block.settings.email != blank %}
                            <span class="email-text"
                              >
                                <svg class="svg-inline--fa fa-envelope" width="15" height="15" aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"></path></svg>
                                <a href="tel:{{ block.settings.email }}">{{ block.settings.email }}</a></span
                            >
                          {% endif %}
                        </li>
                      </ul>
                    </div>

                  {%- when 'link_list' -%}
                      {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                              title="{{- link.title | escape -}}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}

                
                
                  {%- when 'image' -%}
                  
                     <div class="newsletter__wrapper {{ section.settings.content_alignment }} color-{{ section.settings.color_scheme }} gradient grid__item content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'heading' -%}
              <h2
                class="inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none">
                  <path d="M4 9.00005L10.2 13.65C11.2667 14.45 12.7333 14.45 13.8 13.65L20 9" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M3 9.17681C3 8.45047 3.39378 7.78123 4.02871 7.42849L11.0287 3.5396C11.6328 3.20402 12.3672 3.20402 12.9713 3.5396L19.9713 7.42849C20.6062 7.78123 21 8.45047 21 9.17681V17C21 18.1046 20.1046 19 19 19H5C3.89543 19 3 18.1046 3 17V9.17681Z" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                </svg>
                {{ block.settings.heading }}
              </h2>
            {%- when 'paragraph' -%}
              <div
                class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'email_form' -%}
              <div class="main-email-form">
                <div {{ block.shopify_attributes }}>
                  {% form 'customer', class: 'newsletter-form' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div
                      class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      <div class="field">
                        <input
                          id="NewsletterForm--{{ section.id }}"
                          type="email"
                          name="contact[email]"
                          class="field__input"
                          value="{{ form.email }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          autocomplete="email"
                          {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="Newsletter-error--{{ section.id }}"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="Newsletter-success--{{ section.id }}"
                          {% endif %}
                          placeholder="{{ 'newsletter.label' | t }}"
                          required
                        >
                        <button
                          type="submit"
                          class="newsletter-form__button field__button"
                          name="commit"
                          id="Subscribe"
                          aria-label="{{ 'newsletter.button_label' | t }}"
                        >
                          <span class="svg-wrapper">
                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                          </span>
                        </button>
                      </div>
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                          <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                          </span>
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                      <h3
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="Newsletter-success--{{ section.id }}"
                        tabindex="-1"
                        autofocus
                      >
                        <span class="svg-wrapper">
                          {{- 'icon-success.svg' | inline_asset_content -}}
                        </span>
                        {{- 'newsletter.success' | t }}
                      </h3>
                    {%- endif -%}
                  {% endform %}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    </div>


      <div class="footer-block__brand-info">
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                      


                 
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        
      </div>
    {%- endunless -%}
  {%- endif -%}
</footer>

<div
      class="footer__content-bottom main-newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
        <div class="container main-footer-bottom">
      <div class="footer-bottom-inner bottom-side">
            <div class="footer__content-bottom-wrapper footer-bottom-text">
              <div class="footer__column isolate">
              {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                <localization-form>
                  {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                    <div>
                      <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                      {%- render 'country-localization', localPosition: 'FooterCountry' -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              {%- endif -%}
          
              {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                <localization-form>
                  {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                    <div>
                      <h2 class="caption-large text-caption text-body" id="FooterLanguageLabel">
                        {{ 'localization.language_label' | t }}
                      </h2>
                      {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              {%- endif -%}
            </div>
            <div class="footer__content-bottom-wrapper footer-bottom-line{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
              {% if section.settings.copyright_content %}
                <div class="footer__copyright caption">
                  <small class="copyright__content"
                    >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
                  </small>
                  <small class="copyright__content">{{ powered_by_link }}</small>
              {%- endif -%}
              {%- if section.settings.show_policy -%}
                <ul class="policies list-unstyled">
                  {%- for policy in shop.policies -%}
                    {%- if policy != blank -%}
                      <li>
                        <small class="copyright__content"
                          ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                        >
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
            </div>
            {%- if section.settings.payment_enable -%}
              <div class="footer__column footer__column--info">
                <div class="">
                  <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                  <ul class="list list-payment" role="list">
                    {%- for type in shop.enabled_payment_types -%}
                      <li class="list-payment__item">
                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif -%}
      </div>
    </div>
    </div>
  </div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick LInks",
          "label": "Heading First"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu First"
        }
      ]
    },

    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "header",
          "content": "Address Data"
        },
 
        {
          "type": "textarea",
          "id":"address",
          "label": "Address",
          "default":"Add Address"
        },

        {
          "type": "text",
          "id":"phone",
          "label": "Phone",
          "default":"Add Phone"
        },
        {
          "type": "text",
          "id":"email",
          "label": "Email",
          "default":"Add Email"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
     
           {
        "type":"checkbox",
        "id":"newsletter_enable",
        "default":true,
        "label":"Show Newsletter"
    },
     {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
        
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
          {
        "type":"checkbox",
        "id":"show_social",
        "default":true,
        "label":"Show Social"
    }

      ]
    }
  
    
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
       {
      "type": "color",
      "id":"bg_color",
      "label": "Background Color",
      "default":"#f9f7f2"
    },
    {
      "type": "color",
      "id":"text_hover",
      "label": "Text Hover Color",
      "default":"#645832"
    },
   
{
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "Show Copyright Content",
    },
    {
      "type": "checkbox",
      "id": "copyright_content",
      "default": true,
      "label": "Show Copyright Content"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 84
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 84
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "newsletter"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
