{%- style -%}
    .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
       padding-bottom: {{ section.settings.padding_bottom | times: 0.30 | round: 0 }}px;
       background-color: {{ section.settings.bg_color }};
     }
      .section-{{ section.id }}-padding .subheading{
        color: {{section.settings.subheading_color}};
      }
      .section-{{ section.id }}-padding .heading{
        color: {{section.settings.heading_color}};
      }
      .handmade-sale-section .sale-small, .handmade-sale-section .sale-heading {
        color: {{section.settings.text_color}};
     }
    .handmade-sale-section .sale-box {
      background-color: {{section.settings.Box_color}};
    }
    .sale-btn{
    background-color: {{ section.settings.btn_bg }};
    color: {{ section.settings.btn_color }};
    }
    .sale-btn:hover {
      background-color: {{ section.settings.btn_hover_bg }};
    color: {{ section.settings.btn_hover_color }};
  }


     @media screen and (min-width: 768px) {
       .section-{{ section.id }}-padding {
         padding-top: {{ section.settings.padding_top }}px;
         padding-bottom: {{ section.settings.padding_bottom }}px;
       }
     }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding handmade-sale-section">
  <div class="container">
    <div class="handmade-sale-container" data-aos="{{ settings.aos_effect }}">
      <!-- Left Column -->
      <div class="handmade-left">
        {% if section.settings.image != blank %}
          <div class="banner-image shades-animation image-animation">
            <a href="{{ section.settings.image_link }}" class="banner-image"> 
            <img
              src="{{ section.settings.image | img_url: 'master' }}"
              alt="{{ section.settings.heading }}"
              loading="lazy"
              width=""
              height=""
            >
            </a>
            <div class="handmade-content">
              <div>
                {% if section.settings.subheading != blank %}
                  <p class="subheading">{{ section.settings.subheading }}</p>
                {% endif %}
                {% if section.settings.heading != blank %}
                  <h2 class="heading">{{ section.settings.heading }}</h2>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <!-- Right Column -->
      <div class="sale-box">
        <div class="handmade-right-inner">
          {% if section.settings.small_text != blank %}
            <p class="sale-small">{{ section.settings.small_text }}</p>
          {% endif %}
          {% if section.settings.sale_heading != blank %}
            <h2 class="sale-heading">{{ section.settings.sale_heading }}</h2>
          {% endif %}
          {% if section.settings.button_text != blank %}
            <div>
              <a href="{{ section.settings.button_link }}" class="sale-btn">
                {{- section.settings.button_text -}}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sale Banner",
  "settings": [
    {
      "type": "header",
      "content": "image Settings"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "HANDMADE ITEMS"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading Color",
      "default": "#c6a87d"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "Chemical Free Bowl & Ceramic Plates"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#222"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Left Side Image"
    },
     {
      "type": "url",
      "id": "image_link",
      "label": "Image Link"
    },
    
    {
      "type": "header",
      "content": "Box Settings"
    },
    {
      "type": "color",
      "id": "Box_color",
      "label": "Box Color",
      "default": "#8E6E49"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "small_text",
      "label": "Sale Top Text",
      "default": "BUY MORE - SAVE MORE"
    },
    {
      "type": "text",
      "id": "sale_heading",
      "label": "Sale Heading",
      "default": "Big Season Sale 35% OFF"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "Button Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Text Color",
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "btn_hover_bg",
      "label": "Button Hover Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_hover_color",
      "label": "Button Hover Text Color",
      "default": "#ffffff"
    },

    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Sale Banner",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
